.board{
    width: 100%;
    border: 0.4rem solid #f7cf56;
    border-radius: 0.5rem;
}

.getChanging{
    animation: yay 0.5s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes yay {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
  }