.numberStyle{
    padding: 1.5rem;
    width: 4.8rem;
    border-radius: .7rem;
}
div:hover, div:hover h3{
    transform: scale(1.1);
}


.blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
