<div class="vhh container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex vw-80  justify-content-center align-content-center">
                <app-numbers-yard></app-numbers-yard>
            </div>
        </div>

        <div class="col-12">
            <div class="d-flex vw-80  justify-content-center align-content-center">
                <app-numbers-yard [viewMode]="true" [scale]="0.5"></app-numbers-yard>
            </div>
        </div>
    </div>
</div>


